{% extends "base_common.html" %}

{% block title %}Thank you{% endblock %}

{% block head %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/sticky-footer.css' %}">
<link rel="stylesheet" href="{% static 'css/prefs-styles.css' %}">

{% endblock %}

{% block content %}

<div class="col-md-6 offset-md-3 col-12">
    <div class="mb-5 top-title">
  <h3 class="admin-header">Thank you for your donation!</h3>
        </div>
    <p>Your support means a lot to us &mdash; just look how happy our founder Nathan is about your donation:</p>
    <br>
    <br>
    <img src="{% static 'photos/thankyousmall.png' %}" style="width:100%;display:block;">
    <br>
    <br>
    <p>If you want to get in touch with us, you can use the <a class="pref-btn-color" href="{% url 'feedback' %}">feedback form</a> or <a class="pref-btn-color" href="mailto:donations@quotanews.com">send us an email</a>.</p>
<br>
<div class="col-xl-5 col-lg-6 col-12 pl-0">
    <a href="{% url 'index' %}" role="button" class="btn new-btn btn-block">Go home</a>
    </div>
<br>
<br>

<!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">-->
<!--<input type="hidden" name="cmd" value="_s-xclick" />-->
<!--<input type="hidden" name="hosted_button_id" value="VSXCNH8NVLJ46" />-->
<!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="Donate with PayPal button" />-->
<!--<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />-->
<!--</form>-->

</div>
{% endblock %}