{% extends "base_common.html" %}

{% block title%}Error{% endblock %}
{% block head %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/sticky-footer.css' %}">

<link rel="stylesheet" href="{% static 'css/prefs-styles.css' %}">

{% endblock %}

{% block content %}

<div class="col-md-6 offset-md-3 col-12">
    <div class="top-title">
  <h3 class="admin-header">403 - forbidden</h3>
        </div>
    <br>
    <br>
    <p>Sorry, something went wrong.</p>
    <br>
    <p>You can <a class="pref-btn-color" href="{% url 'index' %}">go to the home page</a> or <a class="pref-btn-color" href="javascript:history.back()">go back</a> to the last page you were on.</p>
    <br>
    <br>
</div>
{% endblock %}