{% extends "base_common.html" %}

{% block title %}Password reset{% endblock %}

{% block head %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/sticky-footer.css' %}">
<link rel="stylesheet" href="{% static 'css/prefs-styles.css' %}">


{% endblock %}

{% block content %}

<div class="col-md-6 offset-md-3 col-12">
    <div class="col-12 mt-4 mb-3">
  <h3 class="admin-header">Password reset link sent</h3>
  <!--story-head-->
        </div>
    <div class="col-12">
    <p class="mt-3">
    Thank you. We've emailed you a link to change your password - you should receive it shortly.
  </p>
  <p class="mt-3">
    If you don't receive an email, please make sure you've correctly entered the email address you registered with, or try checking your spam folder.
  </p>
</div>
</div>

{% endblock %}