{% extends "base_common.html" %}

{% block title %}Password reset{% endblock %}

{% block head %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/sticky-footer.css' %}">

<link rel="stylesheet" href="{% static 'css/prefs-styles.css' %}">

{% endblock %}

{% block content %}
  {% if validlink %}
  <div class="col-md-6 offset-md-3 col-12">
    <div class="mt-4 mb-4">
  <h3 class="admin-header">Change password</h3>
        </div>
  <p class="mb-4">Enter a new password below.</p>
  <form method="post">
    {% csrf_token %}
    {% include 'includes/form_error_validation.html' with form=form %}
    <div class="col-lg-4 col-md-6 col-12">
    <!--<div class="prefs-button">-->
    <button class="btn btn-block new-btn">Change password</button>
    <!--</div>-->
    </div>
  </form>
</div>

  {% else %}

  <div class="col-md-6 offset-md-3 col-12">
    <div class="mt-4 mb-4">
  <h3 class="admin-header">Error</h3>
        </div>
  <p class="mb-4"><strong class="text-danger">Your password reset link was invalid.</strong> This is likely because it has expired or already been used.</p>
  <p class="mb-4">Please request a new password reset <a class="pref-btn-color" href="{% url 'password_reset' %}">here</a>.</p>

</div>
  {% endif %}

<br>

{% endblock %}