{% extends "base_common.html" %}

{% block title %}Password reset{% endblock %}

{% block head %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/sticky-footer.css' %}">
<link rel="stylesheet" href="{% static 'css/prefs-styles.css' %}">

{% endblock %}

{% block content %}


<div class="col-md-6 offset-md-3 col-12">
    <div class="col-12 mt-4 mb-3">
  <h3 class="admin-header">Password reset complete</h3>
  <!--story-head-->
        </div>
    <div class="col-12">
    <p class="mt-3">
    Your password has been changed successfully. You can <a class="pref-btn-color" href="{% url 'login' %}">sign in now</a> using your new password.
  </p>
</div>
</div>

{% endblock %}