<head>

    <!-- Load fonts -->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text">-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">-->




<style type="text/css">
@media screen {
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 600;
  src:   url(https://fonts.gstatic.com/l/font?kit=wlppgwHKFkZgtmSR3NB0oRJXsCx2DtlX1LB1CYqOImgEprqmVECTOaqthmnoMc9VYRX77tpQKlkQ9izLgEJvecPwUQ371tToPTvB0tP4WgyqSQz_J5TXZKvCZ8WTanffnPDbvnnjxi-FNhlmifH3kU-tmI9vG2xTHYros7uHMamAj1zr96ujo3G2r0ZKFCaNrq4&skey=8d0e5c65248ec1b9&v=v9) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:   url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
  /*unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;*/
}
}
</style>

</head>

<body style="margin-left:0px;padding-left:0px;">
<!--Container for overall news-->

<div style="width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto">

<div style="margin-top:5%;padding-left:8%;padding-right:8%">

<h1 style="font-family:Crimson Text, Garamond, serif; font-weight: 600; margin-bottom:3.5%;color:#0f1f40;line-height:1em;">Your daily Quota for {{datetitle}}</h1>

<p style="line-height:1.6;margin-bottom:4.5%">{% autoescape off %}{{message}}{% endautoescape %}</p>

{% if newformat %}

<!--    Repeats for all categories-->

{% for catlist in newformat %}

<!--    Category header-->

    {% if catlist == "Custom alerts" %}

    <!--    Custom topics-->

<!--<div style="margin-bottom:1.5%;background-color:#0f1f40">-->
    <h2 style="color: white;font-family:Crimson Text,Garamond,serif;font-weight: 600;padding-left: 0.3em;line-height: 2em;padding-right:1.3em;margin-bottom:1.5%;background-color:#0f1f40;display:inline">Your custom alerts</h2>
    <!--</div>-->

{% for topic in topiclist %}

<!--    Topic heading-->

<h3 style="margin-top: 3%; margin-bottom: 1%; font-family:Crimson Text,Garamond,serif;font-weight: 600;color: #0f1f40;font-size:1.3em;">{{ topic.title }}</h3>

<div style="border:1px #0f1f40; border-style:solid none none none">

<!--class="row align-items-start mt-0 pt-2 ml-0 mr-0"-->

<div>


        {% if topic.items.all.0 %}

<!--<ul style="margin-left:2%;margin-bottom:1%">-->

{% for item in topic.items.all %}

    <!--Top 3 topic items-->

<h3 style="font-family:Crimson Text,Garamond,serif;font-weight:600;margin-top:.5rem;margin-bottom:.5rem;"><a style="text-decoration:none;color:#0f1f40;" href="{{ item.link }}">{{ item.title }}</a>&ensp;<span style="font-family:Roboto,sans-serif;font-size:1rem;font-weight:400;color:#6c757d">{{ item.source }}</span></h3>

<!--<h3 style="font-family:Crimson Text,Garamond,serif;padding-left: 2%;margin-bottom: 2%"><a href="{{ item.link }}" style="color:#130f40;">{{ item.title }}</a>&ensp;&ensp;<span style="font-family:Roboto,sans-serif;font-size:0.9em;color:#6c757d">{{ item.source }}</span></h3>-->


{% endfor %}
<!--</ul>-->

            {% if topic.items.all.3 %}

<p style="margin-top:.5rem"><a style="color:#22a6b3;text-decoration:none" href="https://www.quotanews.com/beta/alerts#{{topic.title}}">See more related stories...</a></p>

            {% else %}

            {% endif %}

        {% else %}

<p style="font-family:Roboto,sans-serif;margin-left:0%;padding-left:0px;color:#6c757d;">No items were found for this alert in your selected sources. You can <a style ="color:#22a6b3;text-decoration:none;" href="https://www.quotanews.com{{ topic.get_absolute_url }}">edit your preferences for this alert here</a>.</p>

        {% endif %}

</div>


</div>

{% empty %}


<p style="font-family:Roboto,sans-serif;margin-top:4%;margin-bottom:2%;margin-left:0%;padding-left: 0px;color:#6c757d;">You don't have any custom alerts set up. To add a custom alert, go to the <a style ="color:#22a6b3;text-decoration:none;" href="https://www.quotanews.com/beta/preferences/alerts">preferences page.</a></p>


{% endfor %}

    <br>


    {% else %}


        {% if catlist.0.0.category %}

    <h2 style="color: white;font-family:Crimson Text,Garamond,serif;font-weight: 600;padding-left: 0.3em;line-height: 2em;padding-right:1.3em;margin-bottom:1.5%;background-color:#0f1f40;display:inline">{{ catlist.0.0.category }}</h2>

<!--    Stories laid out in grid format-->

            {% for storylist in catlist %}

<!--    Secondary story containers-->

    <div>
<!--   secondary_story-->

            {% if storylist.0 %}

<!--        Secondary story title, tagline, image, etc.-->

    <h3 style="font-family:Crimson Text,Garamond,serif;font-weight: 600;color: #0f1f40; font-size: 1.3em"><a href="{{ storylist.0.link }}" style="text-decoration: none; color: #0f1f40">{{ storylist.0.title }}</a></h3>

    <p style="font-family:Roboto,sans-serif; color: #0f1f40;">{{ storylist.0.slug }} <span style="color: #6c757d">{{ storylist.0.source }}</span></p>

    <div style="border: 1px #bbb; border-style: solid none solid none">
                {% for relatedstory in storylist.1 %}

    <p style="font-family:Roboto,sans-serif;margin-top:2%;margin-bottom:2%;padding-left:0%;margin-left:0%"><a href="{{ relatedstory.link }}" style="color:#22a6b3;text-decoration:none">{{ relatedstory.title }}</a><span style="color:#6c757d">&ensp;&ensp;{{ relatedstory.source }}</span></p>

                {% empty %}
        <p style="font-family:Roboto,sans-serif;margin-top:1%;margin-bottom:1%;padding-left:0%;margin-left:0%"><span style="color:#6c757d">No related items found for this story.</span></p>
                {% endfor %}

    </div>

            {% else %}

            {% endif %}

    <br>

    </div>

            {% empty %}

            {% endfor %}


        {% else %}

    <h2 style="color: white;font-family:Crimson Text,Garamond,serif;font-weight: 600;padding-left: 0.3em;line-height: 2em;padding-right:1.3em;margin-bottom:1.5%;background-color:#0f1f40;display:inline">{{ catlist }}</h2>

    <p style="margin-top:2%;color:#6c757d;margin-left:0%;padding-left:0%;">No stories were found for this category in your selected sources.</p>
    <p style="margin-top:2%;color:#6c757d;margin-left:0%;padding-left:0%;margin-bottom:5%;">You can <a style="color:#22a6b3;text-decoration:none" href="https://www.quotanews.com/beta/preferences/sources">edit your source preferences here.</a></p>

        {% endif %}

    {% endif %}

    {% empty %}

    {% endfor %}

{% else %}
    <p>No items are available.</p>
{% endif %}

<br>

</div>
</div>

<!--margin-right:-15px;margin-left:-15px;-->

<br>

<table style=“margin-top:0px;padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;background-color:#0f1f40;width:100%;text-align:center;”>
<tr>
<td style=“text-align:center;padding-top:0.8em;”><a style="font-family:'Roboto',sans-serif;color:white;text-decoration:none;text-align:center" href="https://www.quotanews.com/beta/latest">Full website</a></td>
<td style=“text-align:center;padding-top:0.8em;”><a style="font-family:'Roboto',sans-serif;color:white;text-decoration:none;text-align:center" href="https://www.quotanews.com/unsubscribe">Unsubscribe</a></td>
</tr>
<tr>
<td style=“text-align:center;padding-top:0.4em;padding-bottom:0.8em;”><a style="font-family:'Roboto',sans-serif;color:white;text-decoration:none;text-align:center" href="mailto:feedback@quotanews.com">Send feedback</a></td>
<td style=“text-align:center;padding-top:0.4em;padding-bottom:0.8em;”><a style="font-family:'Roboto',sans-serif;color:white;text-decoration:none;text-align:center" href="https://www.quotanews.com/beta/preferences">Preferences</a></td>
</tr>
</table>

<table style="padding-top:0.2em;padding-bottom:0px;margin-bottom:0px;background-color:#0f1f40;color:white;border:1px white;border-style: solid none none none;font-size: 1em;width:100%;text-align:center">
<tr>
<td style="text-align:center;padding-top:0.8em;padding-bottom:0.8em;color:white;font-family:'Roboto',sans-serif;">Quota is made by Bulletyn, LLC&emsp;&bull;&emsp;2019</td>
</tr>
</table>

</body>